@import url("https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext");
/* Variables */
/* Global */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: #227093;
  font-family: "Zeyada", cursive;
  color: #ffda79;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.7;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.section-title {
  font-size: 32px;
  text-transform: uppercase;
  font-family: "Kanit", sans-serif;
  font-weight: 600;
}

.section-title span {
  text-transform: none;
  font-weight: 400;
  color: #47a8d4;
}

/* Layout */
.wrapper {
  display: flex;
  margin-left: 10px;
}

.sidebar {
  flex: 1 0 0;
}

.sidebar, .posts {
  background: #d1ccc0;
  margin-right: 10px;
  padding: 20px;
  border: 1px solid #ffda79;
  border-radius: 5px;
}

.posts {
  flex: 2 0 0;
  background-color: #84817a;
  position: relative;
  transition: all 2s ease-in;
}

/* Logo */
.logo {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-size: 104px;
  line-height: 1;
  text-align: center;
  font-variant: small-caps;
}

/* Lists */
.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list .active {
  font-weight: bold;
}

.list-horizontal li {
  display: inline-block;
}
.list-horizontal li a {
  text-decoration: none;
  font-family: "Kanit", sans-serif;
  color: #227093;
  display: inline-block;
}

.tags li a {
  text-decoration: none;
  font-family: "Kanit", sans-serif;
  display: inline-block;
  position: relative;
  line-height: 0;
}

.tags li a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #227093;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.tags li a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.titles li a {
  text-decoration: none;
  font-family: "Kanit", sans-serif;
  color: #227093;
  position: relative;
}

.titles li a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #227093;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.titles li a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Authors */
.authors li {
  margin-bottom: 12px;
  font-size: 24px;
  font-weight: 900;
}
.authors li a {
  text-decoration: none;
  font-family: "Kanit", sans-serif;
  color: #227093;
  position: relative;
}

.authors li a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #227093;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.authors li a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Post */
.post {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 20px 10px;
  opacity: 0;
  transition: opacity 1s ease;
  transition: all 2s ease-in;
  z-index: -1;
  overflow: hidden;
  transform: scaleY(0);
}
.post.active {
  position: relative;
  opacity: 1;
  z-index: 1;
  transform: scaleY(1);
}

.post-author {
  font-style: italic;
}

.post-tags {
  display: flex;
}

.post-tags p {
  margin: 0 10px 0 0;
}

/* TAGS */
.tag-size-1 {
  font-size: 1em;
  color: #706fd3;
}

.tag-size-2 {
  font-size: 1.2em;
  color: #ff5252;
}

.tag-size-3 {
  font-size: 1.4em;
  color: #33d9b2;
}

.tag-size-4 {
  font-size: 1.6em;
  color: #ff793f;
}

.tag-size-5 {
  font-size: 2em;
  color: #34ace0;
}

.list li {
  display: inline-block;
  margin: 5px;
}

.titles li {
  display: block;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Nhc3Mvc3R5bGUuc2NzcyIsInN0eWxlLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBUSxxSEFBQTtBQUVSLGNBQUE7QUFXQSxXQUFBO0FBRUE7RUFDRSxzQkFBQTtBQ1hGOztBRGNBO0VBQ0UsbUJBZlc7RUFnQlgsOEJBVlU7RUFXVixjQWZXO0VBZ0JYLGdCQUFBO0VBQ0EsZUFBQTtFQUNBLGdCQUFBO0FDWEY7O0FEY0E7RUFDRSxpQkFBQTtFQUNBLGNBQUE7QUNYRjs7QURjQTtFQUNFLGVBQUE7RUFDQSx5QkFBQTtFQUNBLGdDQTFCWTtFQTJCWixnQkFBQTtBQ1hGOztBRGNBO0VBQ0Usb0JBQUE7RUFDQSxnQkFBQTtFQUNBLGNBQUE7QUNYRjs7QURlQSxXQUFBO0FBRUE7RUFDRSxhQUFBO0VBQ0EsaUJBQUE7QUNiRjs7QURnQkE7RUFDRSxXQUFBO0FDYkY7O0FEZ0JBO0VBQ0UsbUJBdkRZO0VBd0RaLGtCQUFBO0VBQ0EsYUFBQTtFQUNBLHlCQUFBO0VBQ0Esa0JBQUE7QUNiRjs7QURnQkE7RUFDRSxXQUFBO0VBQ0EseUJBOURXO0VBK0RYLGtCQUFBO0VBQ0EsMEJBQUE7QUNiRjs7QURlQSxTQUFBO0FBRUE7RUFDRSxnQ0FsRVM7RUFtRVQsZ0JBQUE7RUFDQSxnQkFBQTtFQUNBLGNBQUE7RUFDQSxrQkFBQTtFQUNBLHdCQUFBO0FDYkY7O0FEZ0JBLFVBQUE7QUFFQTtFQUNFLHFCQUFBO0VBQ0EsU0FBQTtFQUNBLFVBQUE7QUNkRjs7QURpQkE7RUFDRSxpQkFBQTtBQ2RGOztBRGtCRTtFQUNFLHFCQUFBO0FDZko7QURpQkk7RUFDRSxxQkFBQTtFQUNBLGdDQTNGUTtFQTRGUixjQWpHTztFQWtHUCxxQkFBQTtBQ2ZOOztBRHFCQTtFQUNFLHFCQUFBO0VBQ0EsZ0NBckdZO0VBc0daLHFCQUFBO0VBQ0Esa0JBQUE7RUFDQSxjQUFBO0FDbEJGOztBRHFCQTtFQUNFLFdBQUE7RUFDQSxrQkFBQTtFQUNBLFdBQUE7RUFDQSxvQkFBQTtFQUNBLFdBQUE7RUFDQSxTQUFBO0VBQ0EsT0FBQTtFQUNBLHlCQXhIVztFQXlIWCw4QkFBQTtFQUNBLG9DQUFBO0FDbEJGOztBRHFCQTtFQUNFLG9CQUFBO0VBQ0EsNkJBQUE7QUNsQkY7O0FEdUJBO0VBQ0UscUJBQUE7RUFDQSxnQ0FqSVk7RUFrSVosY0F2SVc7RUF3SVgsa0JBQUE7QUNwQkY7O0FEdUJBO0VBQ0UsV0FBQTtFQUNBLGtCQUFBO0VBQ0EsV0FBQTtFQUNBLG9CQUFBO0VBQ0EsV0FBQTtFQUNBLFNBQUE7RUFDQSxPQUFBO0VBQ0EseUJBbkpXO0VBb0pYLDhCQUFBO0VBQ0Esb0NBQUE7QUNwQkY7O0FEdUJBO0VBQ0Usb0JBQUE7RUFDQSw2QkFBQTtBQ3BCRjs7QUR1QkEsWUFBQTtBQUVBO0VBQ0UsbUJBQUE7RUFDQSxlQUFBO0VBQ0EsZ0JBQUE7QUNyQkY7QUR1QkU7RUFDRSxxQkFBQTtFQUNBLGdDQWpLVTtFQWtLVixjQXZLUztFQXdLVCxrQkFBQTtBQ3JCSjs7QUR5QkE7RUFDRSxXQUFBO0VBQ0Esa0JBQUE7RUFDQSxXQUFBO0VBQ0Esb0JBQUE7RUFDQSxXQUFBO0VBQ0EsU0FBQTtFQUNBLE9BQUE7RUFDQSx5QkFwTFc7RUFxTFgsOEJBQUE7RUFDQSxvQ0FBQTtBQ3RCRjs7QUR5QkE7RUFDRSxvQkFBQTtFQUNBLDZCQUFBO0FDdEJGOztBRHlCQSxTQUFBO0FBR0E7RUFDRSxrQkFBQTtFQUNBLE1BQUE7RUFDQSxPQUFBO0VBQ0EsdUJBQUE7RUFDQSxVQUFBO0VBQ0EsMkJBQUE7RUFDQSwwQkFBQTtFQUNBLFdBQUE7RUFDQSxnQkFBQTtFQUNBLG9CQUFBO0FDeEJGO0FEMEJFO0VBQ0Usa0JBQUE7RUFDQSxVQUFBO0VBQ0EsVUFBQTtFQUNBLG9CQUFBO0FDeEJKOztBRDRCQTtFQUNFLGtCQUFBO0FDekJGOztBRDRCQTtFQUNFLGFBQUE7QUN6QkY7O0FENEJBO0VBQ0Usa0JBQUE7QUN6QkY7O0FENkJBLFNBQUE7QUFFQTtFQUNFLGNBQUE7RUFDQyxjQUFBO0FDM0JIOztBRDhCQTtFQUNFLGdCQUFBO0VBQ0EsY0FBQTtBQzNCRjs7QUQ4QkE7RUFDRSxnQkFBQTtFQUNBLGNBQUE7QUMzQkY7O0FEOEJBO0VBQ0UsZ0JBQUE7RUFDQSxjQUFBO0FDM0JGOztBRDhCQTtFQUNFLGNBQUE7RUFDQSxjQUFBO0FDM0JGOztBRDhCQTtFQUNFLHFCQUFBO0VBQ0EsV0FBQTtBQzNCRjs7QUQ4QkE7RUFDRSxjQUFBO0FDM0JGIiwiZmlsZSI6InN0eWxlLmNzcyJ9 */