@import url('https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext');

/* Variables */

$color-light: #d1ccc0;
$color-dark: #227093;
$color-main: #84817a;
$font-color: #ffda79;

$font-logo:'Kanit', sans-serif;
$font-header: 'Kanit', sans-serif;
$font-text: 'Zeyada', cursive;

/* Global */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: $color-dark;
  font-family: $font-text;
  color: $font-color;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.7;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.section-title {
  font-size: 32px;
  text-transform: uppercase;
  font-family: $font-header;
  font-weight: 600;
}

.section-title span {
  text-transform: none;
  font-weight: 400;
  color: lighten($color-dark, 20%);
}


/* Layout */

.wrapper {
  display: flex;
  margin-left: 10px;
}

.sidebar {
  flex: 1 0 0;
}

.sidebar, .posts {
  background: $color-light;
  margin-right: 10px;
  padding: 40px;
  border: 1px solid $font-color;
  border-radius: 5px;
}

.posts {
  flex: 2 0 0;
  background-color: $color-main;
  position: relative;
  transition: all 2s ease-in;
}
/* Logo */

.logo {
  font-family: $font-logo;
  font-weight: 400;
  font-size: 104px;
  line-height: 1;
  text-align: center;
  font-variant: small-caps;
}

/* Lists */

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list .active {
  font-weight: bold;
}

.list-horizontal {
  li {
    display: inline-block;

    a {
      text-decoration: none;
      font-family: $font-header;
      color: $color-dark;
      display: inline-block;
    }
  }
}


.tags li a {
  text-decoration: none;
  font-family: $font-header;
  display: inline-block;
  position: relative;
  line-height: 0;
}

.tags li a:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: $color-dark;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.tags li a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}



.titles li a {
  text-decoration: none;
  font-family: $font-header;
  color: $color-dark;
  position: relative;
}

.titles li a:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: $color-dark;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.titles li a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Authors */

.authors li {
  margin-bottom: 12px;
  font-size: 24px;

  a {
    text-decoration: none;
    font-family: $font-header;
    color: $color-dark;
    position: relative;
  }
}

.authors li a:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: $color-dark;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.authors li a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Post */


.post {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 20px 10px;
  opacity: 0;
  transition: opacity 1s ease;
  transition: all 2s ease-in;
  z-index: -1;
  overflow: hidden;
  transform: scaleY(0);

  &.active {
    position: relative;
    opacity: 1;
    z-index: 1;
    transform: scaleY(1);
  }
}

.post-author {
  font-style: italic;
}

.post-tags {
  display: flex;
}

.post-tags p {
  margin: 0 10px 0 0;
}


/* TAGS */

.tag-size-1 {
  font-size: 1em;
   color: #706fd3
  }

.tag-size-2 {
  font-size: 1.2em;
  color: #ff5252
}

.tag-size-3 {
  font-size: 1.4em;
  color: #33d9b2
}

.tag-size-4 {
  font-size: 1.6em;
  color: #ff793f
}

.tag-size-5 {
  font-size: 2em;
  color: #34ace0
}

.list li {
  display: inline-block;
  margin: 5px;
}

.titles li {
  display: block;
}
